.image1 {
   padding: 10px;
  }
  
  .separacion {
    
    padding-left: 25px;
  }
  .separacion1 {
    
    padding-left: 5px;
  }
  
  .nombre {
    font-weight: bold;
   
  }
  
  .action-row ion-col {
    display: flex;
    align-items: center;
  }