<ion-content>
  <ion-list>
    <ion-item>
      <ion-img class="image" src="assets/img/guatape.jpeg"></ion-img>

     <div class="separacion1">
      <h4 class="nombre">sao paolo</h4>

      <p>sao paolo</p>
     </div>
   
      <ion-buttons class="separacion">
        <ion-button >
          <ion-icon name="airplane-outline" ></ion-icon>
        </ion-button>
      </ion-buttons>
      <p >Valor</p>
   
        <ion-buttons >
          <ion-button>
            <ion-icon name="camera-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
       
        <ion-buttons >
          <ion-button>
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
    
    </ion-item>
  </ion-list>
</ion-content>