<ion-content>
  <ion-list>
    <ion-item>
      <ion-row>
        <ion-col size="3">
          <ion-img  class="image" src="assets/img/guatape.jpeg"></ion-img>
        </ion-col>
  
        <ion-col size="3">
          
            <h4 class="nombre">sao paolo</h4>
       
         
            <p>sao paolo</p>
          
        </ion-col>
  
        <ion-col  size="1" >
          <ion-button  fill="clear">
            <ion-icon name="airplane" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
  
        <ion-col  size="2" class="valor">
          <p>Valor</p>
        </ion-col>
  
        <ion-col  size="1" >
          <ion-button  fill="clear">
            <ion-icon name="camera" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
  
        <ion-col  size="1">
          <ion-button fill="clear" >
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
   
  </ion-list>
</ion-content>